:root{
    --background-color:linear-gradient(to right, #000000, #333333);
    --nav-color:darkred;
    --nav-text-color:white;
    --nav-hover-color:#001f3f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100%;
}
h1{
    text-align: left;
}
ul{
    display: flex;
    justify-content: flex-end;
}
li{
    margin-left: 2em;
    margin-right: 2em;
    list-style: none;
    font-size: 1.5rem;
}
header{
    width: 100%;
    height: 10vh;
    background: var(--nav-color);
    color: var(--nav-text-color);
    position: fixed;
    top: 0;
}
header a{
    color: var(--nav-text-color);
    text-decoration: none;
    transition: color 0.5s ease;
}
header a:hover{
    color: yellow;
}
fieldset{
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
}
h2{
    font-size: 3rem;
    text-align: center;
    color: var(--nav-text-color);
    margin-bottom: 2rem;
}
#Add-Entry{
background: var(--background-color);
border: none;
text-align: center;
}
input{
width: 25%;
margin-bottom: 2rem;
font-size: 2rem;
border-radius: 10px;
}
textarea{
    border-radius: 10px;
    font-size: 2rem;
    resize:none ;
}
button{
    font-size: 1.75rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--nav-color);
    color: var(--nav-text-color);
    transition: background-color .5s ease;
}
button:hover{
    background-color: var(--nav-hover-color);
    cursor: pointer;
}
#add-entry-h2{
    margin-top: 7rem;
}
#Entries{
background-color: var(--nav-hover-color);
max-height: auto;
border: none;
text-align: center;
}
#Entries h3{
    color: var(--nav-text-color);
}
#Entries p{
    color: var(--nav-text-color);
}
.edit-icon{
    scale: 200%;
    margin: 2em ;
    color: var(--nav-text-color);
}
.check-icon{
    scale: 370%;
    margin: 2em;
    color: green;
}
.remove-icon{
    scale: 340%;
    margin: 2em;
    color: red;
}